.mr-5 {
	margin-right: 5px;
}

.mt-60 {
	margin-top: 60px;
}

.container-courses {
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 280px;
	width: calc(100vw - 300px);
}

.bottomLines {
	margin-bottom: 60px;
}

.container-theams {
	position: absolute;
}

.lines {
	margin-bottom: 30px;
}

.bgcolor {
	background-color: rgb(255, 255, 255, 0.8);
}

.modal-lg {
	width: 80vw;
}

.modal-table-wrapper {
	padding-top: 40px;
}

.tableWrapper {
	padding-top: 40px;
	border-radius: 40px;
	padding-bottom: 40px;
	margin-bottom: 60px;
}

.propertyWrapper {
	padding-top: 20px;
	border-radius: 30px;
	padding-bottom: 20px;
	min-height: 300px;
}

.hb-all-center {
	position: absolute;
	left: 50vw;
	transform: translatex(-50%);
}

.cb-all-center {
	position: relative;
	left: 50%;
	transform: translatex(-50%);
	width: 80%;
}

.body {
	background-image: url(images/image-2-darker.jpg);
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

.fb {
	color: black;
}

.logoclass {
	position: absolute;
	top: 15vh;
	margin-top: 40;
	left: 20vw;
}

.home-title-holder {
	position: absolute;
	top: 15vh;
	margin-top: 40;
	left: calc(20vw + 320px);
	color: white;
}

.home-title {
	font-size: 50px;
	font-weight: bolder;
	-webkit-text-stroke: 1px black;
}

.home-title-descr {
	font-size: 25px;
	font-weight: 400;
	-webkit-text-stroke: 0.1px black;
}

.home-button-holder {
	top: calc(15vh + 300px);
	margin-top: 40;
}

.course-button-holder {
	position: fixed;
	top: 60px;
	left: 20px;
	padding: 20px;
	border-radius: 30px;
	font-size: 25px;
}

.course-img-holder {
	position: absolute;
	top: 60px;
	left: 150px;
}

.coure-property-holder {
	position: absolute;
	top: 60px;
	left: 470px;
	width: calc(100vw - 490px);
	border-radius: 20px;
	padding: 10px;
}

.fs-25 {
	font-size: 25px;
}

.course-descr-holder {
	position: absolute;
	top: 380px;
	left: 150px;
	width: calc(100vw - 170px);
	border-radius: 20px;
	padding: 10px;
	min-height: calc(100vh - 490px);
	margin-bottom: 110px;
}

.course-button-holder-single {
	position: fixed;
	bottom: 50px;
	left: 150px;
	width: calc(100vw - 160px);
}

.form-group {
	margin-bottom: 15px;
}

label {
	margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
	font-size: 11px;
	padding-top: 3px;
}

.form-control {
	height: auto !important;
	padding: 8px 12px !important;
}

.input-group {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
}

#button {
	border: 1px solid #ccc;
	margin-top: 28px;
	padding: 6px 12px;
	color: #666;
	text-shadow: 0 1px #fff;
	cursor: pointer;
	border-radius: 3px 3px;
	box-shadow: 0 1px #fff inset, 0 1px #ddd;
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5),
		color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',
		endColorstr='#eeeeee', GradientType=0);
}

.main-form {
	margin-top: 30px;
	margin: 0 auto;
	max-width: 400px;
	padding: 10px 40px;
	background: lightgrey;
	color: black;
	margin-bottom: 60px;
	text-shadow: none;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

span.input-group-addon i {
	color: #009edf;
	font-size: 17px;
}

.login-button {
	margin-top: 5px;
}

input
:invalid
:not
 
(
:placeholder-shown
 
)
{
border-color
:
 
red
;


}
input
:valid
:not
 
(
:placeholder-shown
 
)
{
border-color
:
 
green
;


}
input:invalid:not (:placeholder-shown ) +.form__error {
	display: block;
}